@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR&display=swap');
*{
  font-family: 'Black Han Sans', sans-serif;
  font-family: 'Noto Sans KR', sans-serif;
}
#carouselExampleIndicators {
  max-width: 800px;
  max-height: 600px;
  margin: auto;
}
.carousel-inner {
  max-width: 800px;
  max-height: 600px;
  margin: auto;
}
.maincard {
  margin: auto;
  width: 800px;
  height: 400px;
}
.card:hover{
  transform: scale(1.05);
  z-index: 2;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}
h1{
  text-align: center;
}
.maincard h2{
  font-family: 'Black Han Sans', sans-serif;
}
.container {
  display: flex;
}
.login_join{
  display: flex;
}
#linkpage_1 {
  flex-direction: row;
  justify-content: center;
}
#linkpage_1>*{
  margin: 20px;
}
#search_btn {
  justify-content: center;
}
.login_join {
  flex-direction: row-reverse;
}
.login_join>*{
margin: 15px;
}
button {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #3498db;
  color: #3498db;
  background-color: #ffffff;
  border-radius: 3px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}