@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR&display=swap');
*{
  font-family: 'Black Han Sans', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
}


#carouselExampleIndicators{
  max-width: 800px;
  margin: auto; 
}

.cardbox{
  width: 800px;
  height: 400px;
  margin: auto;
}

.cardbox h2{
  font-family: 'Black Han Sans', sans-serif;
}
.cardbox p{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-cencept{
  color: #80BCBD;
}

.card-text{
  color: gray
}

.card-price{
  text-align:end;
  font-size:x-large
}
form{
  margin:10px auto;
  padding: 20px;
  width: 25rem;
  border: 1px solid gray;
  border-radius: 20px;
}
form label{
  padding:10px;

}
form button{
  border: 2px solid gray;
  border-radius: 3px;
}